/.idea
/node_modules
/public/hot
/public/storage
/vendor
/public/fonts/
/public/images/users/
/public/images/stores/
/public/images/posts/
/database/database.sqlite
/storage/app/
/storage/framework/
/storage/logs/
.env
.env.backup
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
